<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WTP Server Rendering</title>
    <meta name="description" content="WTP Published Mode Server Rendering">
    <!-- css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mine.css" rel="stylesheet">
    <style>
      h1 { margin-bottom: 30px; }
      .btn-primary { margin-left: 8px }  
    </style>
  </head>
  
  <body>
    <div class="container">
      <div id="app"><div><%- seo %></div></div>    
    </div> <!-- /container -->
      
    <!-- Javascript -->
    <script src="/js/bundle.js"></script>
  </body>
</html>
